<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455111750147-640oflfh0abktdsdo6g1382gjeumtt5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455111750147-640oflfh0abktdsdo6g1382gjeumtt5t</string>
	<key>API_KEY</key>
	<string>AIzaSyBKyOkGIDHnBmhP9bgaj4z21tLITQD1fVY</string>
	<key>GCM_SENDER_ID</key>
	<string>455111750147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseBaglama</string>
	<key>PROJECT_ID</key>
	<string>fir-login-b12b4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-b12b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455111750147:ios:6e00e14aadc3c8dfbe9436</string>
</dict>
</plist>